.details {
  .details-summary {
    &:hover {
      cursor: pointer;
    }
  }

  i.details-icon {
    color: $global-font-secondary-color;
    transition: transform 0.2s ease;

    [theme="dark"] & {
      color: $global-font-secondary-color-dark;
    }
  }

  .details-content {
    max-height: 0;
    overflow-y: hidden;
    @include details-transition;
  }

  &.open {
    i.details-icon {
      transform: rotate(90deg);
    }

    .details-content {
      max-height: none;
    }
  }
}
